{% extends 'theme.html' %} 
{% block body %}
		<div class="error">
			<div class="container">
				<div class="error-main">
					<p>oops!-could not find it</p>
					<h1>4<span>0</span>4</h1>
					<div class="err-bttn">
						<a href="/">Back</a>
					</div>
				</div>
			</div>
		</div>
		 <div class="footer">
                         <div class="container">
                                    <div class="footer-text">
										<p>DESIGN BY <a href="http://w3layouts.com/"> W3LAYOUTS</a></p>
									</div>
                         </div>
					<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
     </div>
		 {% endblock body %}